h3{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #667EEA; 
    text-align: center;
    margin: 40px 0 20px 0;
    position: relative;;
}
p{
    margin: 10px;
}

html{
  scroll-behavior: smooth;
}

.navbar{
    background-color: #667EEA;
} 
.navbar-brand img{
    height: 80px; 
    width: auto;  
}


.project-block-div img {
    width: 60px;
    height: auto; 
    display: block; 
}

.project-block-div {
    opacity: 0;              
    transform: translateY(20px); 
    transition: 
        opacity 0.7s ease-out, 
        transform 0.7s ease-out; 
}


.project-block-div.animate {
    opacity: 1;            
    transform: translateY(0); 
}

.navbar-nav .nav-item {
    margin-bottom: 0;
}

@media (max-width: 991.98px) { 
    .navbar-collapse ul {
        flex-direction: column; 
    }
}

.experience-heading {
    color: #667EEA; 
    text-transform: uppercase;
}


.company-logo {
    width: 60px;      
    height: 60px;      
    min-width: 60px;  
    object-fit: contain; 
    border-radius: 5px; 
}

.accordion-button {
    padding: 18px 20px;
    text-align: left;
    font-size: 1rem;
}

.job-info {
    line-height: 1.4;
    padding-left: 10px; 
}

.job-info .job-title {
    display: block; 
    font-size: 1.1rem;
    color: #333;
    font-weight: 600;
}

.accordion-body {
    background-color: #f8f9fa; 
    border-left: 5px solid #667EEA; 
    padding: 20px;
    font-size: 0.95rem;
}

.accordion-body p {
    margin-bottom: 5px;
}

.accordion-body .tech-list {
    font-weight: bold;
    color: #495057;
    margin-top: 15px;
}

#name-nav{
color: floralwhite;
font-weight: bold;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
position: relative; 
top: 8px;
}


